/*body {
  background-image: url('../assets/wall_stone.jpg');
}*/

.gem, .light {
  max-width: 50%;
  box-sizing: border-box;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;

}

.gem-wheel {
  max-width: 100%;
  box-sizing: border-box;
}